@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Monoton');

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}


.App {
  text-align: center;
}

.header {
  width: 100vw;
  height: 100vh;

  position: relative;
}

.title {
  font-family: 'Alfa Slab One', cursive;
  position: absolute;
  top: 45%;
  left: 10%;
  font-size: 5em;
  font-weight: 200;
  color: ghostwhite;
}
