@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Monoton');

.App {
  text-align: center;
}

.header {
  margin: 0;
  height: 100%;

  position: relative;
}

.title {
  font-family: 'Alfa Slab One', cursive;
  position: absolute;
  top: 45%;
  left: 10%;
  font-size: 5em;
  font-weight: 200;
  color: ghostwhite;
}
